  <head><link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/_navbar') %>

    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="POST">
      <label>Username:</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Sign In</button>
    </form>
  </body>
</html>
