<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>All Ingredients</h1>
  <div class="ingredient-list">
    <% ingredients.forEach(ingredient => { %>
    <div class="ingredient-item">
      <p><%= ingredient.name %></p>
      <form
        action="/ingredients/<%= ingredient._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit" class="ingredient-delete-button">Delete</button>
      </form>
    </div>
    <% }) %>
  </div>
  <a href="/ingredients/new" class="add-ingredient-button"
    >Add New Ingredient</a
  >
</body>
